.right {
  float: right;
}

.home-above {
  padding-top: 2em;
}

.home-table {
    float: left;
    width: 50%;

}

.header {
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 0 0 1em 1em;
    right: 1em;
    font-size: 0.6em;
}

.row-data {
    padding-left: 5%;
}

.two-columns {
    padding-left: 5%;
}

body {
    font-family : serif;
    background : #F3F3F4;
    max-width: 220mm;
    margin-left:auto; 
    margin-right:auto; 
    padding: 0% 5% 0%;
    font-size: 100%;
}

h2 {
    font-family : serif;
    font-weight : bold;
    font-style: italic;
    font-size : 1em;
}
p {
    font-weight: normal;
    font-family : serif;
    font-size : 1em;
    color: black;
    background-color: transparent;
}
b {
    font-weight: normal;
    color: black;
    background-color: transparent;
}
a:visited {
    /* color : yellow;*/
    font-weight : normal;
    text-decoration : none;
    background-color : transparent;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    display: inline;
}
a:link {
   /* color : yellow;*/
    font-weight : normal;
    text-decoration : none;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    display: inline;
}
a:hover {
    color : #000000;
    font-weight : normal;
    text-decoration : underline;
    background-color : yellow;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    display: inline;
}
a:active {
    color : #000000;
    font-weight: normal;
    background-color : transparent;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    display: inline;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.videoInsert {
    width: 100%; 
    height: auto;
}

.with-tab {
    padding-left: 5mm;
}

.spreadLinkContainer {
    display: flex;
    min-width: 100%;
}